[SERVICE]
server_url: https://app.glowforge.com
status_service_url: wss://status.glowforge.com

[MACHINE]
# See below for instructions on obtaining this information
# DO NOT SHARE THIS INFORMATION - IT CANNOT BE CHANGED
serial: 12345678
hostname: ABC-123
password: 0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
# These may not matter
head_serial: 123456789
head_firmware: 199234110

[FACTORY_FIRMWARE]
check: True
download_dir: _RESOURCES/FW
# This is the most recent info
fw_version: 1.11.3-7
app_version: 991aef8977eedb6b3a6e426eff34b7d2ee78a3f4


[EMULATOR]
base_dir: _RESOURCES
firmware_check: True
firmware_dl_dir: %(base_dir)s/FW
motion_dl_dir: %(base_dir)s/MOTION
image_src_dir: %(base_dir)s/IMG
# Experimental - This may bypass the homing cycle, under certain unknown conditions
bypass_homing: True
material_thickness: .230

[LOGGING]
dir: _RESOURCES/LOG
file: %(logging_dir)s/emulator.log
level: DEBUG
console_level: DEBUG
save_sent_images: False

[THERMAL]
water_heater_percent: 10

[MOTION]
z_home_offset: 0
warm_up_delay: 0
cool_down_delay: 10

#######################################################################################
# Obtaining your machine login information
# Hostname is simple.  It's the identifier shown at the command prompt (use all caps).
# To obtain the serial number, enter the following in the python shell on your GF:
#   def read_file(filename):
#       with open(filename) as f:
#           return f.read()
#   int(read_file('/sys/fsl_otp/HW_OCOTP_MAC0'), 16)
#
# To obtain the password, enter the following in the python shell on your GF:
#   def read_file(filename):
#       with open(filename) as f:
#           return f.read()
#   password = ''
#   for x in range(8):
#       password += "%08x" % int(read_file('/sys/fsl_otp/HW_OCOTP_SRK%d' % d), 16)
#   print password
#
# KEEP THESE SECRET!!!!!!
