[SERVICE]
server_url: https://app.glowforge.com
status_service_url: wss://status.glowforge.com

[MACHINE]
# See below for instructions on obtaining this information
# Only necessary if you want to override
# DO NOT SHARE THIS INFORMATION - IT CANNOT BE CHANGED
# serial: 12345678
# hostname: ABC-123
# password: 0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
# These may not matter
# head_id: 1100
# head_serial: 123456789
# head_firmware: 199234110

[FACTORY_FIRMWARE]
check: True
download_dir: _RESOURCES/FW
# Below only needed if you want to override
# fw_version: 2.6.0-2228
# app_version: 370ee0b4dad80d10d088b6b65fd10a9144eff5a5


[EMULATOR]
base_dir: _RESOURCES
firmware_check: True
firmware_dl_dir: %(base_dir)s/FW
motion_dl_dir: %(base_dir)s/MOTION
image_src_dir: %(base_dir)s/IMG
# Experimental - This may bypass the homing cycle, under certain unknown conditions
bypass_homing: True
material_thickness: .230

[LOGGING]
dir: _RESOURCES/LOG
file: %(dir)s/emulator.log
level: DEBUG
console_level: DEBUG
save_sent_images: False

[THERMAL]
water_heater_percent: 10
max_start_temp: 27
max_run_temp: 30

[MOTION]
z_home_offset: 0
warm_up_delay: 0
cool_down_delay: 10
